/* 
Eric Meyer's CSS Reset
http://meyerweb.com/eric/tools/css/reset/
v1.0 | 20080212
CSSresetr.com
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

@font-face {
	font-family: "Noto Sans";
	src: url("http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic") ;
}

@font-face {
	font-family: "Noto Serif";
	src: url("http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic' rel='stylesheet' type='text/css") ;
}

body {
	background-image: url(cross_scratches.png)
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

#main {
	padding: 25px 0;
	margin: 25px auto 0;
	width: 100%;
/*	height: 500px; */
	font-family: "Noto Sans";
	overflow: auto;
}

#index #main {
	background-image: url(new_petters2.jpg);
}

#meet #main {
	background-image: url(new_Liam2.jpg);
}

#events #main {
	background-image: url(new_rooster2.jpg);
	background-size: 960px 1200px;
	background-position: 0% 30%;
}

#products #main {
	background-image: url(new_Kiwi2.jpg);
	background-size: 960px 640px;
}

#donations #main {
	background-image: url(new_Lolli2.jpg);
	background-size: 960px 720px;
	background-position: 0% 30%;
}

#photog #main {
	background-image: url(new_Mojo2.jpg);
	background-size: 960px 720px;
}

#booking #main {
	background-image: url(new_petters2.jpg);
}

#onsite #main {
	background-image: url(new_Kiwi2.jpg);
	background-size: 960px 640px;
}

#logo {
	margin: 0 0 0 50px;
	width: 299px;
	height 112.5px;
}

.centered {
	text-align: center;
}

#main_nav {
	float: left;
	margin: 25px 25px 0 50px;
	text-align: center;
}

#main_nav li {
	background-color: #faa61a;
	padding: 5px;
	margin: 10px 0;
	font-family: "Noto Serif", serif;
	list-style-type: none;
}

.here {
	color: #274641;
	font-weight: 700;
	text-align: right;
}

#main_nav a:link {
/*	color: #feeed3; */
	color: #fff;
	font-family: "Noto Serif", serif;
	text-decoration: none;
	text-shadow: 0px 0px 4px #cb9338;
}

#main_nav a:visited {
	color: #fff;
	font-family: "Noto Serif", serif;
	text-decoration: none;
	text-shadow: 0px 0px 4px #cb9338;
}

#main_nav a:hover {
	color: #fff;
	font-family: "Noto Serif", serif;
	text-decoration: overline underline;
	text-shadow: 0px 0px 4px #cb9338;
}

#main_nav a:active {
	color: #fff;
	font-family: "Noto Serif", serif;
	text-decoration: none;
	text-shadow: 0px 0px 4px #cb9338;
}
/*----- welcome ----*/
#welcome_text {
	margin: 30px 0 0 250px;
	padding: 5px;
	width: 600px;
	overflow: visible;
/*	background-color: rgba(255,255,255,0.7);  */
}

#welcome_text h1 {
	font-family: "Noto Sans";
	font-size: 35px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
}

#welcome_text h2 {
	font-family: "Noto Sans";
	font-size: 17px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	font-style: italic;
}

#welcome_text p {
	font-size: 15px;
/*	color: #274641; */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	line-height: 150%;
}
/*----- meet ----*/
#meet_text {
	margin: 30px 0 0 250px;
	padding: 5px;
	width: 600px;
	height: 200px;
	overflow: auto;
/*	background-color: rgba(255,255,255,0.7);  */
}

#meet_text h1 {
	font-family: "Noto Sans";
	font-size: 35px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
}

#meet_text h2 {
	font-family: "Noto Sans";
	font-size: 17px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	font-style: italic;
	line-height: 110%;
}

#meet_text h3 {
	font-family: "Noto Sans";
	font-size: 17px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	line-height: 110%;
}

#meet_text p {
	font-size: 15px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	line-height: 150%;
}
/*----- upcoming ----*/
#upcoming_text {
	margin: 30px 0 0 250px;
	padding: 5px;
	width: 600px;
	height: 200px;
	overflow: auto;
/*	background-color: rgba(255,255,255,0.7);  */
}

#upcoming_text h1 {
	font-family: "Noto Sans";
	font-size: 35px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
}

#upcoming_text h2 {
	font-family: "Noto Sans";
	font-size: 17px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	font-style: italic;
	line-height: 110%;
}

#upcoming_text h3 {
	font-family: "Noto Sans";
	font-size: 17px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	line-height: 110%;
}

#upcoming_text p {
	font-size: 15px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	line-height: 150%;
}
/*----- booking ----*/
#booking_text {
	margin: 24px 0 0 250px;
	padding: 5px;
	width: 600px;
/*	height: 200px;  */
	overflow: visible;
	background-color: rgba(255,255,255,0.4);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px #000;
	-moz-box-shadow: 0 1px 2px #000;
	box-shadow: 0 1px 2px #000;
	border: solid 1px #fff;
}

#booking_text h1 {
	font-family: "Noto Sans";
	font-size: 35px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
}

#booking_text h2 {
	font-family: "Noto Sans";
	font-size: 17px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	font-style: italic;
	line-height: 110%;
}

#booking_text h3 {
	font-family: "Noto Sans";
	font-size: 17px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	line-height: 110%;
}

#booking_text p {
	font-size: 15px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	line-height: 150%;
}

#location /* the buttons on the booking intro page */ {
	width: 400px;
	margin: 20px auto;
	overflow: hidden;
}

/*----- onsite ----*/
#onsite_text {
	margin: 15px 0 0 350px;
	padding: 5px;
	width: 475px;
/*	height: 460px;   */
	overflow: auto;
/*	float: right;  */
	background-color: rgba(255,255,255,0.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px #000;
	-moz-box-shadow: 0 1px 2px #000;
	box-shadow: 0 1px 2px #000;
	border: solid 1px #fff;
}

#onsite_text h1 {
	font-family: "Noto Sans";
	font-size: 35px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
}

#onsite_text h2 {
	font-family: "Noto Sans";
	font-size: 17px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	font-style: italic;
	line-height: 110%;
}

#onsite_text h3 {
	font-family: "Noto Sans";
	font-size: 17px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	line-height: 110%;
	margin: 0 0 5px 0;
}

#onsite_text p {
	font-size: 15px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	line-height: 150%;
}

#onsite_text label {
	color: #fff;
	text-shadow: 0px 0px 4px #000;
}

/*----- host ----*/
#host_text {
	margin: 15px 0 0 350px;
	padding: 5px;
	width: 475px;
/*	height: 460px;   */
	overflow: auto;
/*	float: right;  */
	background-color: rgba(255,255,255,0.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px #000;
	-moz-box-shadow: 0 1px 2px #000;
	box-shadow: 0 1px 2px #000;
	border: solid 1px #fff;
}

#host_text h1 {
	font-family: "Noto Sans";
	font-size: 20px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
}

#host_text h2 {
	font-family: "Noto Sans";
	font-size: 12px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	font-style: italic;
	line-height: 150%;
}

#host_text h3 {
	font-family: "Noto Sans";
	font-size: 17px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	line-height: 110%;
	margin: 0 0 5px 0;
}

#host_text p {
	font-size: 15px;
/*	color: #274641;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	line-height: 150%;
}

#host_text label {
	color: #fff;
	text-shadow: 0px 0px 4px #000;
}

#trip_details {
	width: 49%;
/*	height: 140px; */
	border-right: solid 1px #fff;
	float: left;
}

#location_details {
	width: 49%;
	height: 280px;
	border-right: solid 1px #fff;
	float: left;
}

#contact_info {
	width: 49%;
	margin: 0 0 10px 0;
/*	height: 140px; */
	float: right;
}

#reach_me {
	clear: both;
}

#email_me {
	width: 25%;
	margin-left: 35px;
	padding: 5px;
	float: left;
}

#phone_me {
	width: 25%;
	padding: 5px;
	float: right;
}

#lastly {
	padding: 5px 0 0 0;
	border-top: solid 1px #fff;
	clear: both;
}

#end_options {
	width: 200px;
	margin: 0 auto;
	clear: both;
	border: solid 1px #fff;
	overflow: auto;
}

#submit {
	float: right;
}

#f1 {
	float: left;
}

#f2 {
	float: right;
}

#clear {
	clear: both;
}

#photo_link {
	float: right;
	margin: 40px 45px 0 0;
	padding: 2px 5px;
/*	background-color: rgba(255,255,255,0.6);  */
}

#photo_link a:link {
/*	color: #000; */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	font-family: "Noto Sans", serif;
	font-size: 12px;
	font-style: italic;
	font-weight: 400;
	text-decoration: underline;
}

#photo_link a:visited {
/*	color: #000; */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	font-family: "Noto Sans", serif;
	font-size: 12px;
	font-style: italic;
	font-weight: 400;
	text-decoration: none;
}

#photo_link a:hover {
/*	color: #000;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	font-family: "Noto Sans", serif;
	font-size: 12px;
	font-style: italic;
	font-weight: 400;
	text-decoration: none;
}

#photo_link a:active {
/*	color: #000;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	font-family: "Noto Sans", serif;
	font-size: 12px;
	font-style: italic;
	font-weight: 400;
	text-decoration: underline;
}

#start_over {
/*	clear: both; */
/*	float: left; */
/*	padding: 2px 5px; */
/*	background-color: rgba(255,255,255,0.6);  */
}

#start_over a:link {
/*	color: #000; */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	font-family: "Noto Sans", serif;
	font-size: 12px;
	font-style: italic;
	font-weight: 400;
	text-decoration: none;
}

#start_over a:visited {
/*	color: #000; */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	font-family: "Noto Sans", serif;
	font-size: 12px;
	font-style: italic;
	font-weight: 400;
	text-decoration: none;
}

#start_over a:hover {
/*	color: #000;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	font-family: "Noto Sans", serif;
	font-size: 12px;
	font-style: italic;
	font-weight: 400;
	text-decoration: none;
}

#start_over a:active {
/*	color: #000;  */
	color: #fff;
	text-shadow: 0px 0px 4px #000;
	font-family: "Noto Sans", serif;
	font-size: 12px;
	font-style: italic;
	font-weight: 400;
	text-decoration: underline;
}

footer {
	background-color: #009d85;
	clear: both;
	margin: 2px auto;
	padding: 10px;
/*	border: 1px solid white; */
	height: 60px;
}

#onsite footer {
	background-color: #009d85;
	clear: both;
	padding: 10px;
/*	border: 1px solid white; */
	height: 60px;
}

.foot_sect1 {
	width: 200px;
	background-color: rgba(255,255,255,0.3);
	margin: 0 0 0 35px;
	padding: 5px;
	float: left;
}

.foot_sect2 {
	width: 200px;
	margin: 0 0 0 25px;
	float: left;
}

.foot_sect3 {
	width: 200px;
	margin: 0 0 0 10px;
	float: left;
}

/* --------------------------------- begin button classes ------------------------------*/
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 18px/100% "Noto Sans", Arial, Helvetica, sans-serif;
	font-weight: 700;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
/* ---- orange button ----*/
.orange {
	color: #fff;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* ---- purple button ----*/
.purple {
	color: #fff;
	border: solid 1px #701861;
	background: #A3238E;
	background: -webkit-gradient(linear, left top, left bottom, from(#c059af), to(#ac3298));
	background: -moz-linear-gradient(top,  #c059af,  #ac3298);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c059af', endColorstr='#ac3298');
}

.purple:hover {
	background: #ac3298;
	background: -webkit-gradient(linear, left top, left bottom, from(#b23c9e), to(#883278));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

.purple:active {
	color: #d68ac9;
	background: -webkit-gradient(linear, left top, left bottom, from(#ac3298), to(#c059af));
	background: -moz-linear-gradient(top,  #ac3298,  #c059af);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ac3298', endColorstr='#c059af');
}
/* --------------------------------- end button classes ------------------------------*/

.foot_sect4 {
	width: 200px;
	margin: 0 35px 0 0;
	float: right;
}

.foot_sect4 p {
	color: #fff;
	font-family: "Noto Sans", serif;
	font-size: 16px;
	font-style: italic;
	text-align: right;
}

.textmiddle {
	vertical-align: middle;
}